{% extends 'crm/base.html' %}
{% block content %}


<html>
<head>
    <meta charset="UTF-8">
    <title>Maverick Food Services</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

</head>
<body>
<style>
    body {
        background-color: lightseagreen;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-primary">
                <div class="panel-heading">Welcome!</div>
                <div class="panel-body">
                    Maverick Food Services, Ingredients For Your Success!.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <h2 style="padding-left: 15Px">Product Information</h2>
</div>
<div>
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr class="bg-info">
            <th>Customer Name</th>
            <th>Product</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>PickUp_Time</th>
            <th>Charge</th>
            <th colspan="4">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.cust_name }}</td>
            <td>{{ product.product_name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.quantity }}</td>
            <td>{{ product.pickup_time }}</td>
            <td>{{ product.charge }}</td>

            <td><a href="{% url 'crm:product_delete' pk=product.pk %}"
                   class="btn btn-danger">Delete</a></td>

            <td><a href="{% url 'crm:product_edit' pk=product.pk %}"
                   class="btn btn-warning">Edit</a></td>

            <td><a href="{% url 'crm:product_summary' pk=product.pk %}"
                   class="btn btn-primary">Summary</a></td>
            <td><a href="{% url 'crm:product_export_pdf' pk=product.pk %}"
                   class="btn btn-primary">Export Summary</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
   <div class="row">
        <a href="{% url 'crm:product_new' %}" class="row"><span
                class="btn btn-primary"> Add Product</span></a>
    </div>
</div>
</body>
</html>
{% endblock %}


